---
name: Dependabot

on:
  pull_request_target:
    branches:
      - main
    paths:
      - package-lock.json
      - package.json
      - .github/workflows/**
    types:
      - opened
      - synchronize
      - reopened

permissions: {}

jobs:
  dependabot:
    uses: raven-actions/.workflows/.github/workflows/__dependabot.yml@main
    permissions:
      contents: write
      pull-requests: write
    secrets: inherit
