---
name: Draft Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions: {}

jobs:
  draft-release:
    uses: raven-actions/.workflows/.github/workflows/__release-draft.yml@main
    permissions:
      contents: write
      pull-requests: read
    secrets: inherit
